body {
  margin: 0;
  padding: 0;
  background: #555;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  /* background: #222; */
}

.clip {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
  position: absolute;
}

.clip1 {
  background: url(https://images.unsplash.com/photo-1504253492562-cbc4dc540fcb?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 76% 0, 39% 100%, 0 100%);
}

.clip2 {
  background: url(https://images.unsplash.com/photo-1573456170607-b885fdc78985?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);
}

.clip3 {
  background: url(https://images.unsplash.com/photo-1493514789931-586cb221d7a7?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);
}

.container:hover .clip1 {
  clip-path: polygon( 10%, 100% 0, 100% 100%, 100% 100%);
}
.container:hover .clip2 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}
.container:hover .clip3 {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
